/* global color presets */


@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";


:root {
  --primary-green: #1dF244;
  --secondary-lightgrey: #d9d9d9;
  --darkgrey: #747474;
  --white: #fff;
  --text: #191a23;
  --primary-orange: #F99C30;
  --admin-enterbudget-gray: #c5bfbf;
  --popup-approve-green: #8DFB91;
  --popup-decline-logout-red: #F66E6F;
  --exit-popup-red: #ff494a;
  --newadmin-purple: #5245c8;
  --changepassword-text: #0069FF;
  --status-approved-green: #1dF244;
  --status-pending-yellow:#FFD65A;
  --status-arrived-blue:#329FF2;
  --status-cancel-red: #ff494a;
  





}

#ITAlogo{
  height:60px;
}

#userName_display {
  font-size: 16px;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 20px; 
}

* {
  font-family: 'Inter', sans-serif;
  color: var(--text);
}

.program-budget {
  font-family: 'Inter', sans-serif !important;
  color: var(--text);
}

.fbODAS > span {
  font-size: 1rem;
}

/* makes column labels in center */
.ag-header-cell-label {
  justify-content: center;
}